@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  color: white;
  background-image: url("https://wallpaperaccess.com/full/1801916.jpg");
  background-size: 100vw;
  z-index: -1;
}
.filter-bg {
  background-image: url("https://github.com/mtfsahin/FMSS-Bilisim-Front-end-Practicum-Final-Case/blob/main/src/assets/img/star-wars-banner.png?raw=true");
  background-size: contain;
  background-repeat: no-repeat;
}
